body {
  font-family: 'Open Sans', sans-serif;
}

.desktop_main {
  grid-column: 2;
}

.desktop {
  display: inline-block;
  width: 49%;
  border: 0.1rem solid black;
}

.btn {
  display: none;
}

.fitness_nav {
  width: 100%;
  border: none;
}

.profile_bio_mobile {
  display: none;
}

p {
  margin: 0;
}
.profile_btns {
  display: none;
}

.bar-svg {
  animation: progress 0.75s ease-out forwards;
  fill: none;
  stroke: #45b9c1;
  stroke-width: 30;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 300;
  }
}

.sliders {
  width: 100%;
}
