body {
  font-family: 'Open Sans', sans-serif;
}

.desktop_main {
  display: flex;
  flex-wrap: wrap;
}

.desktop {
  display: flex;
  flex-direction: column;
  width: 20rem;
  max-width: 30rem;
  border: 0.1rem solid black;
  border-radius: 1rem;
  padding: 1rem;
  margin: 0.5rem;
}

.btn {
  display: none;
}

.slider_text {
  display: flex;
  justify-content: space-between;
}

.slider {
  width: 100%;
}

.fitness_nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: none;
}

.nav_btn {
  display: inline-block;
  width: 4rem;
}

.profile_bio_mobile {
  display: none;
}

p {
  margin: 0;
}
.profile_btns {
  display: none;
}

.bar-svg {
  animation: progress 0.75s ease-out forwards;
  fill: none;
  stroke: #45b9c1;
  stroke-width: 30;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 300;
  }
}

.sliders {
  width: 100%;
}
